#!/bin/bash
export CUDA_VISIBLE_DEVICES=0
export HOSTNAME=hostname
export FTI_IDCARD_SERVING_PORT=8500
export FTI_IDCARD_WORKERS=4
export FTI_IDCARD_PORT=5000
export DIR=/home/vision.trungnb/ftid

case "$1" in
"start"*)
    docker-compose -f $DIR/nvidia-docker-compose.yml up -d
    ;;
"stop"*)
    docker-compose -f $DIR/nvidia-docker-compose.yml stop
    ;;
*)
    echo "Usage: $0 start|stop"
esac
